footer {
            background: #1a1a1a;
            color: #ffffff;
            padding: 60px 0;
            font-family: 'Poppins', sans-serif;
        }

        .footer-wrapper {
            max-width: 1000px;
            margin: 0 auto;
            display: flex;
            justify-content: space-between;
            align-items: flex-start;
            padding:  0 40px;
        }

        .footer-logo {
            flex: 1;
            width: 350px;
            height: 144px;
        }

        .footer-logo img {
            width: 180px;
            margin-bottom: 15px;
        }
        .footer-logo p {
            font-size: 13px; /* Ukuran teks lebih kecil dan elegan */
            line-height: 1.5;
            color: #e0e0e0;
            margin: 0;
        }

        .footer-contact {
            flex: 0 0 350px; /* Menentukan lebar tetap untuk area kontak */
            text-align: left;
        }
        .footer-contact h4 {
            font-size: 16px;
            font-weight: 700;
            margin-bottom: 20px;
            color: #ffffff;
        }

        .footer-contact p {
            font-size: 13px; /* Ukuran teks disamakan dengan kiri */
            line-height: 1.6;
            color: #e0e0e0;
            margin-bottom: 15px;
        }

        .footer-social {
            margin-top: 20px;
            display: flex;
            gap: 15px;
        }      
        .footer-social a {
            color: #ffffff;
            font-size: 18px;
            transition: 0.3s;
        }

        .footer-social a:hover {
            color: #d23b3b;
        }
    